form {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 700px;
  margin: 30px auto;
}

form .form-title {
  margin: 0 auto 20px auto;
  text-align: center;
}

form input {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  font-size: 1em;
  padding-left: 5px;
}

form select {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  font-size: 1em;
  padding-left: 5px;
}

form input[type="submit"]:hover {
  color: #343434;
  border: 1px solid #343434;
}

form input[type="submit"] {
  background-color: #27ae60;
  color: #fff;
  margin-top: 25px;
  cursor: pointer;
}

form textarea {
  width: 100%;
  height: 200px;
  margin-top: 20px;
  font-size: 1em;
  padding-left: 5px;
}

form input:disabled {
  background-color: #ccc;
  border: none;
}

form .invalid {
  border: 1px solid #ff0000;
}

form .invalid-desc {
  color: #ff0000;
  padding-left: 20px;
}

form .input-social {
  display: flex;
  align-items: center;
}

form .input-social i {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 40px;
  width: 40px;
  background-color: #3498db;
}

form .input-social i {
  color: #fff;
}
