.dashboard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  width: 80%;
  max-width: 800px;
}

.dashboard-content {
  position: relative;
  z-index: 100;
  width: 100%;
  padding-left: 20px;
}

.dashboard-content .section-title {
  margin-top: 75px;
}

.btn-alert {
  background-color: #ff5252;
  color: #fff;
}

.btn-alert:hover {
  background-color: #fff;
  color: #ff5252;
  border: 1px solid #ff5252;
}

.dashboard-content table {
  margin: 40px auto;
  width: 100%;
  font-size: 0.8em;
}

.dashboard-content table tbody tr {
  align-items: center;
  padding: 15px 0 15px 5px;
}

.dashboard-content table tr {
  display: flex;
}

.dashboard-content table tr td {
  font-size: 0.8em;
}

.dashboard-content table th {
  padding: 5px 0;
  border-top: 1px solid #343434;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.dashboard-content table tr .institution,
.dashboard-content table tr .heading-institution {
  flex: 1;
}

.dashboard-content table tr .title,
.dashboard-content table tr .heading-title {
  flex: 2;
}

.dashboard-content table tr .dates,
.dashboard-content table tr .heading-dates {
  flex: 1;
  text-align: center;
}

.dashboard-content table tr .delete,
.dashboard-content table tr .heading-delete {
  flex: 1;
  text-align: center;
}

.dashboard-content table tr:nth-child(2) {
  background-color: #ddd;
}

.dashboard .remove-profile {
  position: relative;
  bottom: 0;
  left: 0;
  border: 1px solid black;
  padding: 10px;
  text-align: justify;
  font-size: 0.8em;
}

.dashboard .remove-profile .warning {
  color: #ff0000;
  margin-top: 0;
  transform: scaleY(0);
  transition: linear 200ms;
}

.dashboard .remove-profile button {
  margin-top: 20px;
}

.dashboard .remove-profile:hover > .warning {
  transform: scaleY(1);
  padding: 8px;
  margin-top: 20px;
}
