header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ccecfb;
  height: 55px;
  color: #003255;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header #logo {
  height: 40px;
  padding-left: 20px;
}

#nav-container {
  display: flex;
  padding-right: 20px;
  height: 55px;
}

#nav-container a {
  padding: 8px;
  color: #003255;
  display: flex;
  align-items: center;
  transition: linear 200ms;
}

#nav-container a:hover {
  background-color: #ffe000;
  color: #003255;
}

#nav-container li {
  list-style: none;
}
