header{
  background-color: #CCECFB;
  height: 55px;
  color: #343434;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header #logo{
  height: 75%;
  padding-left: 20px;
}

#nav-container{
  display: flex;
  padding-right: 20px;
  height: 55px;
}

#nav-container a{
  padding: 8px;
  color: #343434;
  display: flex;
  align-items: center;
  transition: linear 200ms;
}

#nav-container a:hover{
  background-color: #343434;
  color: #CCECFB;
}

#nav-container li{
  list-style: none;
}
